
.post_wrapper{
	background-color: rgb(166, 183, 250);
	border-radius: 25px;
	padding: 10px;
	margin: 20px 0;
}

.post_wrapper img{
	max-width: 50px;
	border-radius: 1000px;
}
.likes{
	color: aliceblue;
	background-color: rgb(60, 71, 115);
	margin-top: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	width: fit-content;
}