.login_page_container{
    margin: 30px;
    display: flex;
    align-items: center;
}
.free_account{
    margin-left: 50px;
}

.container{
    /*margin: 0 auto;*/
    /*background-color: darkred;*/
}
.input{
    /*width: 100%;*/
    /*background-color: darkred;*/
}

.wrong_input{
    /*width: 100%;*/
    border-color: red;
}

.error{
    /*width: 100%;*/
    color: red;
}