.dialogs{
	display: grid;
	grid-template-columns: 3fr 9fr;
}

.dialogs_items{
	margin: 10px 20px;
}
.dialog{
	margin: 10px 0;
}

.dialog a{
	color:aliceblue;
	display: block;
	text-decoration: none;
	background-color: rgb(166, 183, 250);
	border-radius: 25px 10px 10px 25px;
}
.dialog a:hover{
	background-color: rgb(150, 169, 246);
}
.dialog a.active{
	background-color: rgb(101, 99, 239);
	/* background-color: rgb(129, 153, 250); */
	color: gold;
}
.dialog a img{
	width: 50px;
}
.dialog a div.dialog_link_wrapper{
	display: grid;
	grid-template-columns: 4fr 8fr;
}
.dialog a div.dialog_name{
	padding: 12px 0px;
}


.messages_wrapper{
	margin: 20px;
	background-color: rgb(166, 183, 250);
	border-radius: 25px;
	padding: 20px;
}
.messages{
	min-height: 300px;
}
.message{
	border-radius: 10px;
	background-color: rgb(60, 71, 115);
	color:aliceblue;
	padding: 10px;
	margin-bottom: 10px;
	width: max-content;
}

.new_message_wrapper{
	/* background-color: azure; */
	margin-top: 20px;
	display: grid;
	grid-template-columns: 11fr 1fr;
}
.new_message_textarea{
	background-color: white;
	resize: none;
	border: none;
	width: 100%;
	border-radius: 10px;
	font-size: 16px;
	display: block;
}
.new_message_textarea:focus{
	border: none;
}
.send_new_message_button{
	color: white;
	margin-left: 20px;
	border: none;
	background-color: rgb(60, 71, 115);
	border-radius: 10px;
	font-size: 16px;
}
.send_new_message_button:hover{
	background-color: rgb(69, 81, 130);
}
.send_new_message_button:active{
	background-color: rgb(50, 61, 96);
}