.nav{
	grid-area: n;
	background-color: rgb(155, 155, 255);
	padding: 20px;
	/* border-radius: 30px;
	margin: 10px; */
}

.item {
	/* padding: 10px 10px; */
}
.item a{
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	margin: 5px 0px;
	background-color: rgb(140, 140, 240);
	border-radius: 10px;
}
.item a:hover{
	background-color: rgb(125, 125, 225);
	/* padding-left: 15px; */
}
.item a.nonActive{
	color: white;
}
.item a.active {
	color: gold;
}